<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daddy's Expense Tracker</title>
  <script src="https://kit.fontawesome.com/9bcd69c423.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  {{!-- navbar --}}
  <nav>
    <a href="/">
      <h1>Daddy's Expense Tracker</h1>
    </a>
    <a href="/users/logout" class="icon login-icon"><i class="fas fa-user"></i></a>
  </nav>

  {{{ body }}}

  </div>
</body>

</html>