<form action="/users/login" method='POST' class="container">
  <h1>Login</h1>
  {{> message}}
  <div class="input-row">
    <input type="text" name='email' id='email' autocomplete="on" required>
    <label for="email" class='input-label'>
      <span class='label-content'><i class="fas fa-envelope"></i>Email</span>
    </label>
  </div>
  <div class="input-row">
    <input type="text" name='password' id='password' autocomplete="on" required>
    <label for="password" class='input-label'>
      <span class='label-content'><i class="fas fa-lock"></i>Password</span>
    </label>
  </div>
  <button class="login-btn" type="submit">login</button>
  <a href='/auth/facebook' class="login-btn facebook-btn">Login with FaceBook</a>
  <p>Not A Member ? <a class='login-link' href="/users/register">Register</a></p>
</form>