<div class="container-sm mt-5 mb-3 px-5" style="max-width: 650px;">
  <form action="/expense" method="POST">
    <div class="form-group row mb-5">
      <div class="col-2">
        <small><b class="text-danger mr-1">*</b>必填欄位</small>
      </div>
      <div class="col">
        <h5 class='text-center'>請輸入您的支出</h5>
      </div>
    </div>
    <div class="form-group row mb-4">
      <div class="col-2">
        <label for="title">名稱<b class="text-danger ml-1">*</b>：</label>
      </div>
      <div class="col">
        <input type="text" id='title' name='title' class='form-control'>
      </div>
    </div>
    <div class="form-group row mb-4">
      <div class="col-2">
        <label for="date">日期<b class="text-danger ml-1">*</b>：</label>
      </div>
      <div class="col">
        <input type="date" id='date' name='date' class='form-control'>
      </div>
    </div>
    <div class="form-group row mb-4">
      <div class="col-2">
        <label for="category">類別<b class="text-danger ml-1">*</b>：</label>
      </div>
      <div class="col">
        <select class="form-control" id="category" name='category'>
          <option selected disabled>---請選擇---</option>
          <option name='household' value="household">家居物業</option>
          <option name='transport' value="transport">交通出行</option>
          <option name='entertainment' value="entertainment">休閒娛樂</option>
          <option name='grocery' value="grocery">餐飲食品</option>
          <option name='others' value="others">其他</option>
        </select>
      </div>
    </div>
    <div class="form-group row mb-5">
      <div class="col-2">
        <label for="amount">金額<b class="text-danger ml-1">*</b>：</label>
      </div>
      <div class="col">
        <input type="number" id='amount' name='amount' class='form-control'>
      </div>
    </div>
    <div class="form-group row">
      <div class="col offset-2">
        <div class="row">
          <div class="col-auto mx-auto">
            <button type="submit" class="btn btn-info">新增支出</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>