
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #fff;
}

body {
  height: auto;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    rgba(222, 132, 124, 0.7),
    rgba(222, 132, 124, 0.5)
  );
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
}

nav {
  height: 10vh;
  background: #de847c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1 {
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

.login-icon {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  width: 100%;
  height: auto;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem auto 2rem;
  padding: 2rem 2rem 3rem;
  color: #5f9476;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  letter-spacing: 1px;
  position: relative;
}

.add-form .add-icon{
  bottom: 2%;
}

.form-item p {
  height: 1.5rem;
  margin-right: 10px;
  font-weight: 600;
}

.form-item select,
.form-item input {
  flex-grow: 1;
  height: 2rem;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0 10px;
  color: #5f9476;
  border: none;
}

.form-item select:focus,
.form-item input:focus {
  outline: none;
}

.totalAmount,
.form-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.totalAmount p,
.form-item p {
  margin-right: 10px;
  font-weight: 600;
}

.totalAmount span {
  flex-grow: 1;
  text-align: end;
  padding-right: 10px;
  font-size: 1.5rem;
  font-family: "Yusei Magic", sans-serif;
}

.form-item span {
  flex-grow: 1;
  text-align: center;
  padding-right: 30px;
  font-size: 1.5rem;
  font-family: "Noto Sans TC", sans-serif;
}

.wrapper {
  width: 100%;
  padding: 1rem;
}

li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background-image: linear-gradient(
    to left top,
    rgba(95, 148, 118),
    rgba(95, 148, 118, 0.9)
  );
  color: #fff;
  box-shadow: 6px 6px 20px rgba (122, 122, 122, 0.8);
  margin-bottom: 1rem;
}

li div {
  margin: 5px 10px;
}

li .item {
  flex-grow: 1;
  padding: 5px;
}

li .item h3 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 2px;
}

.button {
  display: flex;
  padding: 5px;
  align-items: center;
}

button {
  background: transparent;
  border: none;
}

button:focus{
  outline: none;
}

i {
  color: #fff;
  margin: 0 5px;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 20px rgba (122, 122, 122, 0.5);
  cursor: pointer;
}

.icon i {
  color: #de847c;
  font-size: 1.3rem;
}

.item-icon, .item-icon i {
  cursor: default;
}

.add-icon {
  background: #de847c;
  position: absolute;
  bottom: 2%;
  right: 3%;
}

.add-icon i {
  color: #fff;
}

.edit-btn{
  cursor: pointer;
  width: 7rem;
  height: 2rem;
  border-radius: 20px;
  background-color: #88DEB0;
  color: #fff;
  font-size: 1rem;
}

.edit-btn.leave{
  background-color: #5F9476;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* login page */
.input-row {
  width: 100%;
  height: 60px;
  position: relative;
  background-color: #F8F9FD;
  box-shadow: 3px 3px 20px rgba(122,122,122,0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 5px 0;
}

h1 + .input-row {
  margin-top: 1.5rem;
}

input {
  width: 100%;
  height: 100%;
  padding: 30px 2rem 0px;
  outline: none;
  border: none;
  background-color: none;
  color: #5f9476;
  font-size: 1.2rem;
}

input:focus, label:focus, span:focus{
  outline: none;
}

.input-label{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.label-content {
  position: absolute;
  bottom: 5px;
  left: 10px;
  transition: all 0.3s ease;
  color: #de847c;
}

.label-content i {
  color: #de847c;
}

input:focus + .input-label .label-content,
input:valid + .input-label .label-content {
  bottom: 30px;
}

.login-btn {
  padding: 0.8rem 1.5rem;
  margin: 1rem 0;
  color: #F8F9FD;
  background:  #de847c;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 30px;
  outline: none;
  border: none;
  box-shadow: 2px 2px 0px #be716a;
  cursor: pointer;
  position: relative;
  font-size: 1rem;
  width: 80%;
  text-align: center;
}

.login-btn:active {
  top: 2px;
  box-shadow: none;
}

.login-link{
  color: #5f9476;
  font-weight: 600;
}

.login-link:hover{
  color: #4b755d;
  text-decoration: underline;
}

.message-container{
  padding: 1rem;
  margin: 10px 0;
  box-shadow: none;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.warning {
  background:rgb(233, 189, 132);
  color: rgb(82, 80, 80);
}

.success {
  background:#5f9476;
  color: #fff;
}

.error{
  background:#f57c96;
  color: #f8f9fd;
}


.facebook-btn{
  background: rgb(121, 136, 221);
  box-shadow: 2px 2px 0px rgb(105, 117, 187);
  margin: 0 0 2rem;
}